.chainlit/*
__pycache__/*
.venv/*
.env
.DS_Store
.files/*
rAgent/ragents/__pycache__/*
rAgent/ragents/.DS_Store
rAgent/ragents/.files/*
rAgent/ragents/.venv/*
logs/*
cline_docs/*
# Ignore all files in the .chainlit directory
# except for the .gitkeep file
# This will ensure that the .gitkeep file is tracked by Git